body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background: linear-gradient(to bottom left, dodgerblue, yellow 113%);
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}
.logo {
  box-shadow: 0 0 30px black;
}
.logo:hover {
  transform: scale(1.1);
}
.firstline {
  font-size: 20px;
  font-family: "Arial";
  color: #d3b50a;
}
em {
  font-size: 20px;
  font-family: "Arial";
  color: #720ad3;
}
.coffee {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  margin-bottom: 25px;
  object-fit: cover;
}
video {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  object-fit: cover;
  margin-bottom: 25px;
}
ul {
  list-style-type: square;
}

table,
tr,
th,
td {
  border: 1px solid rgb(1, 61, 24);
  border-collapse: collapse;
  padding: 10px;
}
tfoot {
  text-align: left;
}

footer {
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  background:radial-gradient(circle,rgb(143, 220, 223),green,yellow, pink);
  border: 5px solid rgb(3, 19, 70);
  border-radius: 15px;
}
a {
  margin: 0 50px;
  color: #490202;
  text-decoration: none;
}

.product {
  margin: 5px;
  background-color: gold;
  width: 300px;
}
.highlight {
  background-color: gold;

}
#products  article {
  color: orange;
  margin: 10px;
}
a[href*="google"] {
  color: #f16c13;
}
article p:first-of-type {
  font-size: 140%;
  font-style: italic;
  color: #f357d9;
}
article p:last-of-type {
  font-size: 120%;
  font-style: italic;
  color: #928390;
}
ul li:nth-child(odd){
  color: deeppink;
}
a:visited {
  color: rgb(4, 8, 12);
}
a:hover a:focus {
  color: #fffb23;
}

p::first-letter {
  font-size: 200%;
  color: #080000;

}
p::first-line {
  text-transform: uppercase;
  font-weight: bold;
}

::selection {
  background-color: #f357d9;
}

p::before {
  content: "....";
  display: block;
}

p::after {
  content: "....";
  display: block;
}
h1 {
  color: dodgerblue;
}

.highlights#pro {
  color: green;
}
.highlights {
  color: #f357d9;
}
.exercises {
  background: local;
}
.exercise {
  margin: 20px;
  width: 300px;
  height: 300px;
}
th {
  background-color: #427fef;
  color: white;
}
.exercise tr:nth-child(odd) {
  background-color: #eef7ff;

}
.exercise, td, th, tr {
  border: 1px solid #c4dcf3;
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;

}
.box {
  width: 300px;
  height: 300px;
  background-color: tomato;
  box-shadow: 10px 10px lightgrey;
  border-radius: 10px;
}
.box:hover {
  transition: transform 1s ease;
  transform:rotate(180deg);
  box-shadow: 10px 10px #cf1010;
}